.header {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: #333;
}

.header-inner {
    position: absolute;
    top: 100px;
    right: 10px;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    width: 200px;
    padding: 20px 35px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header-inner p{
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.5s;
}



.header .image {
    flex: 0 0 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid blue;
    overflow: hidden;
    margin-right: 10px;
    cursor: pointer;
}

.image img {
    width: 100%;
}

.text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.4rem;
    cursor: pointer;
}

.text-inner {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.text-inner .active {
    flex: 0 0 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
}

.text-inner p {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

.logo {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}
