.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin-top: 40px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.login h2 {
  margin-bottom: 40px;
  position: relative;
}

.login h2 span::after {
  content: '';
  width: 5%;
  position: absolute;
  height: 3px;
  bottom: -12px;
  left: 0;
  background-color: #04AA6D;
}
.register-container {
  width: 40%;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-left: 15rem;
  padding: 10px 40px;
  background-color: white;
}

.register-container input, .register-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 10px;
}

.register-container [type=text]:focus, .register-container [type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.register-btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.register-btn:hover {
  opacity: 1;
}

.register-container a {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
  padding: 1rem 2rem;
}

.profile-upload {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 2px solid #04AA6D;
  border-radius: 50%;
}

.profile-upload input {
  display: none;
}

.profile-upload img {
  width: 100%;
}





