@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html,
body {
  font-family: 'Roboto',sans-serif;
}

.container {
    display: flex;
    color: #ccc;
    background-color: #000;
}

main {
   width: 100%;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.error h1 {
    font-size: 15rem;
}

.error p {
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

.error p::after {
    content: '';
    position: absolute;
    width: 30%;
    height: 3px;
    bottom: -12px;
    left: 0;
    background-color: brown;
}

button:disabled{
  background-color: #0071c28c;
  cursor: not-allowed;
}

.loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}